RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^career/([a-z0-9-]+)/?$ job.php?slug=$1 [L,QSA]
RewriteRule ^about/?$ about.php [L]
RewriteRule ^solutions/?$ solutions.php [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^careers/?$ careers.php [L]
RewriteRule ^privacy/?$ privacy.php [L]

RewriteRule ^storage/ - [F,L]
